.tab-button{

    height: 50px;

}

.crypto-icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}