body {
    font-family: Arial, sans-serif;
}
.tabs {
    display: flex;
    justify-content: space-between;
    width: 40px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 1em;
    gap: 10px;
}
.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 10px;
}
.tab.active {
    background-color: #f4f4f4;
    font-weight: bold;
}
.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
}
.tab-content.active {
    display: block;
}

.price-item {
    margin: 5px 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
#priceList {
    margin-top: 20px;
}
